@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura";
  src: url("../public/Assets/font/futura/futura\ medium\ bt.ttf");
}

* {
  font-family: "Abel", sans-serif !important;
  scroll-behavior: smooth;
}
